
.icon_heading {
    display: flex;
	align-items: center;
	gap: 16px;
}
.energy_block_title_holder {
   	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.energy_energy_flooding_buttons {
    display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 10px;
	/* opacity: 0.8; */
}
.heat_block_list_btn .energy_energy_flooding_buttons {
	display: flex;
    padding: 5px 20px;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    background: var(--Greys-grey-a10, #E8E8E8);
}
.energy_block_title {
    color: var(--Page-Text-colours-Header, #212121);
    font-size: 24px;
    font-style: normal;
     font-weight: 600; 
    line-height: normal;
}

.energy_block_title_icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 40px; */
    height: 40px;
}

.energy_block_title_icon.flooding {
    background: url("data:image/svg+xml,%0A%3Csvg width='38' height='33' viewBox='0 0 38 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9375 1.375L36.4375 15.375C37.0625 15.9375 37.125 16.875 36.625 17.5C36.0625 18.125 35.125 18.1875 34.5 17.6875L33 16.375V25.5625C32.0625 25.0625 31 24.9375 30 25.1875V13.8125L19 4.5L8 13.8125V25.1875C6.9375 24.9375 5.875 25.0625 5 25.5625V16.375L3.4375 17.6875C2.8125 18.1875 1.875 18.125 1.3125 17.5C0.8125 16.875 0.875 15.9375 1.5 15.375L18 1.375C18.5625 0.9375 19.375 0.9375 19.9375 1.375ZM17 15V19H21V15H17ZM16.5 12H21.5C22.875 12 24 13.125 24 14.5V19.5C24 20.9375 22.875 22 21.5 22H16.5C15.0625 22 14 20.9375 14 19.5V14.5C14 13.125 15.0625 12 16.5 12ZM7.9375 27.9375L8 27.875C9.3125 29.0625 11.1875 30 13 30C14.75 30 16.625 29.0625 18 27.875C18.5625 27.375 19.375 27.375 20 27.875C21.3125 29.0625 23.1875 30 25 30C26.75 30 28.625 29.0625 30 27.875C30.5625 27.375 31.375 27.375 31.9375 27.875C33 28.8125 34.4375 29.5625 35.8125 29.875C36.625 30.0625 37.125 30.875 36.9375 31.6875C36.75 32.5 35.9375 33 35.125 32.8125C33.375 32.4375 31.875 31.5625 31 30.9375C29.1875 32.125 27.125 33 25 33C22.8125 33 20.75 32.125 19 30.9375C17.1875 32.125 15.125 33 13 33C10.8125 33 8.75 32.125 7 30.9375C6.0625 31.5625 4.625 32.4375 2.8125 32.8125C2 33 1.1875 32.5 1 31.6875C0.8125 30.875 1.3125 30.0625 2.125 29.875C3.5625 29.5625 4.875 28.8125 6 27.9375C6.5625 27.375 7.375 27.375 7.9375 27.9375Z' fill='%23212121'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.energy_block_title_icon.windEnergy {
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.875 23.6875L18.8125 13.8125L18.75 13.5L18.875 13.25L23.25 4.3125L15.25 10.1875L15 10.375H14.6875L4.8125 11.0625L13.875 15.0625L14.125 15.1875L14.3125 15.4375L19.875 23.6875ZM20.4375 28.125L17 23V30H23H24V32H23H16H9H8V30H9H15V20.5V20L12.8125 16.8125L0.3125 11.25L0.625 9.3125L14.3125 8.4375L25.375 0.375L26.8125 1.625L20.8125 13.875L22.25 27.5L20.4375 28.125ZM17 13C17 13.5625 16.5 14 16 14C15.4375 14 15 13.5625 15 13C15 12.5 15.4375 12 16 12C16.5 12 17 12.5 17 13Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.energy_block_title_icon.solarEnergy {
    background: url("data:image/svg+xml,%3Csvg width='40' height='32' viewBox='0 0 40 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5625 13L2 20.5V22H11.875L12.6875 13H3.5625ZM4 11H12.875L13.625 2H6L4 11ZM15.625 2L14.875 11H25.125L24.3125 2H15.625ZM26.3125 2L27.125 11H35.9375L34 2H26.3125ZM36.375 13H27.25L28.0625 22H38V20.5L36.375 13ZM26.0625 22L25.25 13H14.6875L13.875 22H26.0625ZM35.5625 0L40 20.3125V22V24H38H21V30H27H28V32H27H21H19H13H12V30H13H19V24H2H0V22V20.3125L4.375 0H35.5625Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.energy_block_title_icon.otherRenewableEnergy {
    background: url("data:image/svg+xml,%3Csvg width='32' height='34' viewBox='0 0 32 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 17C30 12 27.3125 7.4375 23 4.9375C18.625 2.375 13.3125 2.375 9 4.9375C4.625 7.4375 2 12 2 17C2 22.0625 4.625 26.625 9 29.125C13.3125 31.6875 18.625 31.6875 23 29.125C27.3125 26.625 30 22.0625 30 17ZM0 17C0 11.3125 3 6.0625 8 3.1875C12.9375 0.3125 19 0.3125 24 3.1875C28.9375 6.0625 32 11.3125 32 17C32 22.75 28.9375 28 24 30.875C19 33.75 12.9375 33.75 8 30.875C3 28 0 22.75 0 17ZM18.5 8H19H20.125L19.9375 9.1875L19.125 15H22H23V16V16.5V16.9375L22.6875 17.25L14.1875 25.75L13.875 26H13.5H13H11.8125L12 24.875L12.8125 19H10H9V18V17.5V17.125L9.25 16.8125L17.75 8.3125L18.0625 8H18.5ZM11.875 17H14H15.125L14.9375 18.1875L14.3125 22.8125L20.0625 17H18H16.8125L17 15.875L17.625 11.25L11.875 17Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.energy_block_title_icon.heat_stress {
    background: url("data:image/svg+xml,%0A%3Csvg width='41' height='33' viewBox='0 0 41 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 6.1875C21 6.4375 21 6.75 21 7V16.1875C19.6875 18 19 20.1875 19 22.5C19 23.6875 19.125 24.8125 19.5 25.875C19.4375 25.875 19.375 25.9375 19.375 25.9375C19.0625 26.0625 18.6875 26.0625 18.375 25.875L14 22.75L9.5625 25.875C9.25 26.0625 8.875 26.0625 8.5625 25.9375C8.25 25.8125 8.0625 25.5 8 25.1875L7.125 19.875L1.8125 19C1.5 18.9375 1.1875 18.75 1.0625 18.4375C0.9375 18.125 0.9375 17.75 1.125 17.4375L4.25 13L1.125 8.625C0.9375 8.3125 0.9375 7.9375 1.0625 7.625C1.1875 7.3125 1.5 7.125 1.8125 7.0625L7.125 6.1875L8 0.875C8.0625 0.5 8.25 0.25 8.5625 0.125C8.875 0 9.25 0 9.5625 0.1875L14 3.3125L18.375 0.1875C18.6875 0 19.0625 0 19.375 0.125C19.6875 0.25 19.875 0.5 19.9375 0.875L20.8125 6.125L21 6.1875ZM14 17C12.5625 17 11.25 16.25 10.5 15C9.8125 13.8125 9.8125 12.25 10.5 11C11.25 9.8125 12.5625 9 14 9C15.375 9 16.6875 9.8125 17.4375 11C18.125 12.25 18.125 13.8125 17.4375 15C16.6875 16.25 15.375 17 14 17ZM14 7C11.8125 7 9.875 8.1875 8.75 10C7.6875 11.875 7.6875 14.1875 8.75 16C9.875 17.875 11.8125 19 14 19C16.125 19 18.0625 17.875 19.1875 16C20.25 14.1875 20.25 11.875 19.1875 10C18.0625 8.1875 16.125 7 14 7ZM26 7V17.125C26 18.0625 25.625 18.8125 25.1875 19.4375C24.4375 20.4375 24 21.6875 24 23C24 26.3125 26.6875 29 30 29C33.3125 29 36 26.3125 36 23C36 21.6875 35.5 20.4375 34.75 19.4375C34.3125 18.8125 34 18.0625 34 17.125V7C34 4.8125 32.1875 3 30 3C27.75 3 26 4.8125 26 7ZM30 0C33.8125 0 37 3.1875 37 7V17.125C37 17.25 37 17.4375 37.1875 17.625C38.3125 19.125 39 21 39 23.0625C39 28 34.9375 32.0625 30 32.0625C25 32.0625 21 28 21 23.0625C21 21 21.625 19.125 22.75 17.625C22.9375 17.4375 23 17.25 23 17.125V7C23 3.1875 26.125 0 30 0ZM30 26C28.3125 26 27 24.6875 27 23C27 21.75 27.8125 20.625 29 20.1875V7C29 6.5 29.4375 6 30 6C30.5 6 31 6.5 31 7V20.1875C32.125 20.625 33 21.75 33 23C33 24.6875 31.625 26 30 26Z' fill='%23212121'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.energy_block_title_icon.crossRail {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='26' fill='none'%3E%3Cpath fill='%23212121' d='M36.125 23c.5.063.875.563.813 1.125-.063.5-.563.938-1.126.813C34 24.688 32.25 23.875 31 22.563 29.437 24.125 27.25 25 25 25c-2.313 0-4.5-.875-6.063-2.438-1.5 1.563-3.687 2.5-5.937 2.5-2.313 0-4.5-.937-6.063-2.5-1.25 1.313-2.937 2.125-4.812 2.375-.563.125-1.063-.312-1.125-.812-.063-.563.313-1.063.813-1.125 1.812-.25 3.375-1.188 4.312-2.563.188-.25.5-.437.875-.437.313 0 .625.188.813.438C8.938 22.063 10.874 23 13 23c2.063 0 4-.938 5.125-2.563.375-.5 1.25-.5 1.625 0C20.875 22.063 22.813 23 24.938 23c2.125 0 4.062-.938 5.187-2.563.375-.5 1.25-.5 1.625 0 1 1.375 2.563 2.313 4.375 2.563Zm-34-17.063c-.563.125-1.063-.312-1.125-.875-.063-.5.313-1 .813-1.062 1.812-.25 3.375-1.188 4.312-2.563.188-.25.5-.437.813-.437.375 0 .687.188.812.438C8.875 3.063 10.813 4 12.938 4c2.062 0 4-.938 5.187-2.563.375-.5 1.25-.5 1.625 0C20.875 3.063 22.813 4 24.938 4c2.062 0 4-.938 5.187-2.563.375-.5 1.25-.5 1.625 0C32.688 2.813 34.313 3.75 36.063 4c.5.063.937.563.812 1.125-.063.5-.5.938-1.063.813-1.874-.25-3.624-1.063-4.874-2.375-1.563 1.562-3.75 2.437-6 2.437S20.5 5.125 19 3.562C17.437 5.125 15.25 6 13 6c-2.313 0-4.5-.875-6.063-2.438C5.688 4.875 4 5.688 2.125 5.938Zm34 7.563c.5.063.875.563.75 1.125-.063.5-.5.938-1.063.813-1.874-.25-3.624-1.063-4.874-2.376-1.563 1.563-3.75 2.438-6 2.438S20.5 14.625 19 13.062c-1.563 1.563-3.75 2.438-6 2.438-2.313 0-4.5-.875-6.063-2.438-1.25 1.313-2.937 2.126-4.812 2.376-.563.124-1.063-.313-1.125-.876-.063-.5.313-1 .813-1.062 1.812-.25 3.375-1.188 4.312-2.563.188-.25.5-.437.875-.437.313 0 .625.188.813.438C8.938 12.562 10.874 13.5 13 13.5c2.063 0 4-.938 5.125-2.563.375-.5 1.25-.5 1.625 0 1.125 1.626 3.063 2.563 5.188 2.563 2.125 0 4.062-.938 5.187-2.563.375-.5 1.25-.5 1.625 0 1 1.376 2.563 2.313 4.375 2.563Z'/%3E%3C/svg%3E") center center no-repeat;
}

.energy_block_title_icon.coastal_erosion {
    background: url("data:image/svg+xml,%0A%3Csvg width='38' height='32' viewBox='0 0 38 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4.9375C6.5625 4.375 7.375 4.375 7.9375 4.9375C9.3125 6.0625 11.1875 7 12.9375 7C14.75 7 16.625 6.0625 17.9375 4.9375C18.5625 4.375 19.375 4.375 19.9375 4.9375C21.3125 6.0625 23.1875 7 24.9375 7C26.75 7 28.625 6.0625 29.9375 4.9375C30.5 4.375 31.375 4.375 31.9375 4.9375C33 5.875 34.4375 6.5625 35.8125 6.875C36.5625 7.0625 37.125 7.875 36.9375 8.6875C36.75 9.5 35.9375 10 35.125 9.8125C33.3125 9.4375 31.875 8.5625 30.9375 7.9375C29.1875 9.125 27.125 10.0625 24.9375 10.0625C22.8125 10.0625 20.6875 9.125 18.9375 7.9375C17.1875 9.125 15.125 10.0625 12.9375 10.0625C10.8125 10.0625 8.6875 9.125 6.9375 7.9375C6.0625 8.5625 4.5625 9.4375 2.8125 9.8125C2 10 1.1875 9.5 1 8.6875C0.8125 7.875 1.3125 7.0625 2.125 6.875C3.5625 6.5625 4.875 5.8125 6 4.9375ZM6 22.9375C6.5625 22.375 7.375 22.375 7.9375 22.9375C9.3125 24.0625 11.1875 25 12.9375 25C14.75 25 16.625 24.0625 17.9375 22.9375C18.5625 22.375 19.375 22.375 19.9375 22.9375C21.3125 24.0625 23.1875 25 24.9375 25C26.75 25 28.625 24.0625 29.9375 22.9375C30.5 22.375 31.375 22.375 31.9375 22.9375C33 23.875 34.4375 24.5625 35.8125 24.875C36.5625 25.0625 37.125 25.875 36.9375 26.6875C36.75 27.5 35.9375 28 35.125 27.8125C33.3125 27.4375 31.875 26.5625 30.9375 25.9375C29.1875 27.125 27.125 28.0625 24.9375 28.0625C22.8125 28.0625 20.6875 27.125 18.9375 25.9375C17.1875 27.125 15.125 28.0625 12.9375 28.0625C10.8125 28.0625 8.6875 27.125 6.9375 25.9375C6.0625 26.5625 4.5625 27.4375 2.8125 27.8125C2 28 1.1875 27.5 1 26.6875C0.8125 25.875 1.3125 25.0625 2.125 24.875C3.5 24.5625 4.875 23.875 5.9375 22.9375H6ZM7.9375 13.9375C9.3125 15.0625 11.1875 16 12.9375 16C14.75 16 16.625 15.0625 17.9375 13.9375C18.5625 13.375 19.375 13.375 19.9375 13.9375C21.3125 15.0625 23.1875 16 24.9375 16C26.75 16 28.625 15.0625 29.9375 13.9375C30.5 13.375 31.375 13.375 31.9375 13.9375C33 14.875 34.4375 15.5625 35.8125 15.875C36.5625 16.0625 37.125 16.875 36.9375 17.6875C36.75 18.5 35.9375 19 35.125 18.8125C33.3125 18.4375 31.875 17.5625 30.9375 16.9375C29.1875 18.125 27.125 19.0625 24.9375 19.0625C22.8125 19.0625 20.6875 18.125 18.9375 16.9375C17.1875 18.125 15.125 19.0625 12.9375 19.0625C10.8125 19.0625 8.6875 18.125 6.9375 16.9375C6.0625 17.5625 4.5625 18.4375 2.8125 18.8125C2 19 1.1875 18.5 1 17.6875C0.8125 16.875 1.3125 16.0625 2.125 15.875C3.5 15.5625 4.875 14.875 5.9375 13.9375C6.5 13.4375 7.375 13.4375 7.9375 13.9375Z' fill='%23212121'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.energy_block_title_icon.ground_stability {
    background: url("data:image/svg+xml,%0A%3Csvg width='38' height='33' viewBox='0 0 38 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 1.375C18.5625 0.9375 19.375 0.9375 19.9375 1.375L30 9.875V4.5C30 3.6875 30.625 3 31.5 3C32.3125 3 33 3.6875 33 4.5V12.4375L36.4375 15.375C37.0625 15.9375 37.125 16.875 36.625 17.5C36.0625 18.125 35.125 18.1875 34.5 17.6875L33 16.375V28C33 30.8125 30.75 33 28 33H10C7.1875 33 5 30.8125 5 28V16.375L3.4375 17.6875C2.8125 18.1875 1.875 18.125 1.3125 17.5C0.8125 16.875 0.875 15.9375 1.5 15.375L18 1.375ZM8 13.8125V28C8 29.125 8.875 30 10 30H15.3125L13.4375 27C13.1875 26.5625 13.25 26 13.6875 25.6875L19 21.5L15.3125 16.75C14.625 15.8125 15.8125 14.625 16.75 15.3125L23.9375 20.75C24.4375 21.125 24.5 21.875 23.9375 22.3125L19 26.25L21.3125 30H28C29.0625 30 30 29.125 30 28V13.8125L19 4.5L8 13.8125Z' fill='%23212121'/%3E%3C/svg%3E%0A") center center no-repeat;
}
.energy_block_title_icon.crossRail2 {
    background: url("data:image/svg+xml,%3Csvg width='44' height='53' viewBox='0 0 44 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.28 33V31.4C31.3067 29.3947 33.0347 27.624 34.464 26.088C35.9147 24.5307 37.0133 23.1227 37.76 21.864C38.5067 20.6053 38.88 19.432 38.88 18.344C38.88 17.1707 38.56 16.2107 37.92 15.464C37.28 14.7173 36.3093 14.344 35.008 14.344C34.1547 14.344 33.3653 14.5787 32.64 15.048C31.9147 15.5173 31.2533 16.104 30.656 16.808L29.184 15.368C30.0373 14.408 30.944 13.64 31.904 13.064C32.8853 12.488 34.0267 12.2 35.328 12.2C36.5867 12.2 37.6747 12.456 38.592 12.968C39.5093 13.4587 40.2133 14.152 40.704 15.048C41.1947 15.944 41.44 16.9893 41.44 18.184C41.44 19.5067 41.0667 20.8187 40.32 22.12C39.5947 23.4213 38.592 24.7867 37.312 26.216C36.032 27.6453 34.56 29.2133 32.896 30.92C33.4507 30.856 34.0267 30.8133 34.624 30.792C35.2213 30.7493 35.7867 30.728 36.32 30.728H42.464V33H29.28Z' fill='black'/%3E%3Cpath d='M24.6875 23L26.0625 27H29H30V29H29H26.75L28.8125 35H31.5H32.5V37H31.5H29.5625L31.625 43H34H35V45H34H32.3125L34.375 51H32.25L30.1875 45H5.75L3.6875 51H1.5625L3.625 45H2H1V43H2H4.3125L6.4375 37H4.5H3.5V35H4.5H7.125L9.1875 29H7H6V27H7H9.875L11.25 23H13.375L12 27H23.9375L22.5625 23H24.6875ZM24.625 29H11.3125L9.25 35H26.75L24.625 29ZM27.4375 37H8.5L6.4375 43H29.5L27.4375 37Z' fill='black'/%3E%3C/svg%3E ") center center no-repeat;
}

.energy_block_title_icon.energy_performace {
    background: url("data:image/svg+xml,%0A%3Csvg width='24' height='32' viewBox='0 0 24 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5625 15.5625C19.4375 14.3125 20 12.75 20 11C20 6.625 16.375 3 12 3C7.5625 3 4 6.625 4 11C4 12.75 4.5 14.3125 5.375 15.5625C5.625 15.9375 5.875 16.3125 6.1875 16.6875C7 17.8125 7.9375 19.125 8.6875 20.4375C9.3125 21.625 9.6875 22.875 9.8125 24H6.8125C6.625 23.25 6.4375 22.5625 6.0625 21.875C5.4375 20.75 4.6875 19.6875 3.875 18.625C3.5625 18.1875 3.25 17.75 2.9375 17.3125C1.6875 15.5 1 13.375 1 11C1 4.9375 5.875 0 12 0C18.0625 0 23 4.9375 23 11C23 13.375 22.25 15.5 21 17.3125C20.6875 17.75 20.375 18.1875 20.0625 18.625C19.25 19.6875 18.5 20.75 17.875 21.875C17.5 22.5625 17.3125 23.25 17.125 24H14.125C14.3125 22.875 14.625 21.625 15.25 20.4375C16 19.125 16.9375 17.8125 17.75 16.6875C18.0625 16.3125 18.3125 15.9375 18.5625 15.5625ZM12 8C10.3125 8 9 9.375 9 11C9 11.5625 8.5 12 8 12C7.4375 12 7 11.5625 7 11C7 8.25 9.1875 6 12 6C12.5 6 13 6.5 13 7C13 7.5625 12.5 8 12 8ZM12 32C9.1875 32 7 29.8125 7 27V26H17V27C17 29.8125 14.75 32 12 32Z' fill='%23212121'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.energy_block_title_icon.southamptonLondonPipeline {
    background: url("data:image/svg+xml,%3Csvg width='40' height='32' viewBox='0 0 40 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 3V7H11V3H7ZM5 1H7H11H13V3V7V9H11H10V16H30V9H29H27V7V3V1H29H33H35V3V7V9H33H32V16H39H40V18H39H22V23H23H25V25V29V31H23H19H17V29V25V23H19H20V18H1H0V16H1H8V9H7H5V7V3V1ZM22 25H20H19V29H23V25H22ZM33 3H29V7H33V3Z' fill='black'/%3E%3C/svg%3E ") center center no-repeat;
}

.energy_block_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.energy_block_recommendation{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--Spacing-Spacing-x1, 4px);
	align-self: stretch;
}

.heat_button_EPC{
    display: flex;
    justify-content: space-around;
    gap: 3px;
}

.epc_icon{
    height: 20px;
    width: 20px;
}

.epc_icon.icon{
    background: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.25C12.25 0.25 15.75 3.75 15.75 8C15.75 12.2812 12.25 15.75 8 15.75C3.71875 15.75 0.25 12.2812 0.25 8C0.25 3.75 3.71875 0.25 8 0.25ZM8 1.75C4.53125 1.75 1.75 4.5625 1.75 8C1.75 11.4688 4.53125 14.25 8 14.25C11.4375 14.25 14.25 11.4688 14.25 8C14.25 4.5625 11.4375 1.75 8 1.75ZM12.375 5.84375C12.5 5.96875 12.5 6.21875 12.375 6.375L6.96875 11.7188C6.8125 11.875 6.59375 11.875 6.4375 11.7188L3.59375 8.84375C3.46875 8.71875 3.46875 8.46875 3.59375 8.3125L4.3125 7.625C4.46875 7.46875 4.6875 7.46875 4.84375 7.625L6.71875 9.5L11.125 5.125C11.2812 4.96875 11.5312 4.96875 11.6562 5.125L12.375 5.84375Z' fill='%23424242'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.heat_button {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    background: transparent;
}
.flooding_button {
	display: flex;
    padding: 5px var(--Spacing-Spacing-x4, 16px);
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    background: var(--Greys-grey-a10, #E8E8E8);
    border: 0;
}
.rcp_button{
    border-radius: 15px;
   background: var(--Greys-grey-a10, #E8E8E8);
}
.energy_flooding_buttons{
    display: block;
    gap: 10px;
    flex: 1 0 0;
    padding: 5px 0px;
    align-items: center;
    float: right;
    text-align: right;
}
.rcp_button{
    border-radius: 15px;
    background: var(--Greys-grey-a10, #E8E8E8);
    border: none !important;
    padding: 5px 20px;
    font-size: 16px !important;
    color: #424242;
    margin-bottom: 5px;
}
.enery_block_list_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    list-style: none;
    padding:0;
    margin:0;
}
.heat_block_list_btn {
	list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex: 1 0 0;
    flex-wrap: wrap;
    /* opacity: 0.8; */
}
span.energy_text {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #000;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .lable_text_1 {
	width: 36px;
}
.lable_text_2 {
	width: 51px;
}
.lable_text_3 {
	width: 95px;
} */
.energy_block_list {
    padding-left: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}
.text_block{
	color: var(--Page-Text-colours-Body, #4D4D4D);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	    align-self: stretch;
}
.text_block_heading{
	color: var(--Page-Text-colours-Header, #212121);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	align-self: stretch;
}
.button_block{
	display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.button_block_elements {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    /* opacity: 0.8; */
}
.text_paragraph{
	flex: 1 0 0;
	color: var(--Page-Text-colours-Body, #4D4D4D);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.energy_block_list_risk_identify{
	padding-left: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
.text_block_paragraph{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.coastal_block_list_btn {
	display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    /* opacity: 0.8; */
    list-style: none;
    padding: 0;
    margin: 0;
}
.coastal_buttons {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    background: var(--Greys-grey-a10, #E8E8E8);
}
.coastal_block_list{
	padding-left: 15px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}
.coastal_block_text{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.summ-recomm-ep-icon{
    height: 30px;
}