.recommendations_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 762px !important;
    color: var(--text-color);
    border-radius: var(--border-radius-large);
    background: var(--lm-white, );
    box-shadow: var(--standard_drop_shadow);
    margin-bottom: 20px; 
    break-inside: avoid;
    padding: 32px;
}

.recommendations_block_title_holder {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 16px;
    width: 700px;
}

.recommendations_block_title_icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40px;
    height: 40px;
}

.recommendations_block_title_icon.oilGas {
    background: url("data:image/svg+xml,%3Csvg width='37' height='33' viewBox='0 0 37 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.0625 5.375C30.625 3.75 29 2.8125 27.375 3.25L26.4375 3.5L30.5625 18.9375L31.5 18.6875C33.125 18.25 34.0625 16.625 33.625 15.0625L31.0625 5.375ZM26.875 1.3125C29.5625 0.625 32.25 2.1875 33 4.875L35.5625 14.5C36.3125 17.1875 34.6875 19.9375 32.0625 20.625L31.0625 20.875L29.125 21.4375L28.625 19.5L26.8125 12.625L6 18.0625V31H8.25L12.25 18.4375L14.5625 17.8125L12.875 23H21.0625L19 16.6875L20.9375 16.1875L25.6875 31H35H36V33H35H1H0V31H1H4V12V11H6V12V16L13.6875 14L15.6875 7.75L15.9375 7H16.625H17.3125H18.0625L18.25 7.75L19.75 12.375L26.25 10.6875L24.5 4L24 2.125L25.875 1.5625L26.875 1.3125ZM17.8125 12.9375L17 10.25L16 13.375L17.8125 12.9375ZM23.625 31L21.6875 25H12.25L10.3125 31H23.625Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.recommendations_block_title_icon.windEnergy {
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.875 23.6875L18.8125 13.8125L18.75 13.5L18.875 13.25L23.25 4.3125L15.25 10.1875L15 10.375H14.6875L4.8125 11.0625L13.875 15.0625L14.125 15.1875L14.3125 15.4375L19.875 23.6875ZM20.4375 28.125L17 23V30H23H24V32H23H16H9H8V30H9H15V20.5V20L12.8125 16.8125L0.3125 11.25L0.625 9.3125L14.3125 8.4375L25.375 0.375L26.8125 1.625L20.8125 13.875L22.25 27.5L20.4375 28.125ZM17 13C17 13.5625 16.5 14 16 14C15.4375 14 15 13.5625 15 13C15 12.5 15.4375 12 16 12C16.5 12 17 12.5 17 13Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.recommendations_block_title_icon.solarEnergy {
    background: url("data:image/svg+xml,%3Csvg width='40' height='32' viewBox='0 0 40 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5625 13L2 20.5V22H11.875L12.6875 13H3.5625ZM4 11H12.875L13.625 2H6L4 11ZM15.625 2L14.875 11H25.125L24.3125 2H15.625ZM26.3125 2L27.125 11H35.9375L34 2H26.3125ZM36.375 13H27.25L28.0625 22H38V20.5L36.375 13ZM26.0625 22L25.25 13H14.6875L13.875 22H26.0625ZM35.5625 0L40 20.3125V22V24H38H21V30H27H28V32H27H21H19H13H12V30H13H19V24H2H0V22V20.3125L4.375 0H35.5625Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.recommendations_block_title_icon.otherRenewableEnergy {
    background: url("data:image/svg+xml,%3Csvg width='32' height='34' viewBox='0 0 32 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 17C30 12 27.3125 7.4375 23 4.9375C18.625 2.375 13.3125 2.375 9 4.9375C4.625 7.4375 2 12 2 17C2 22.0625 4.625 26.625 9 29.125C13.3125 31.6875 18.625 31.6875 23 29.125C27.3125 26.625 30 22.0625 30 17ZM0 17C0 11.3125 3 6.0625 8 3.1875C12.9375 0.3125 19 0.3125 24 3.1875C28.9375 6.0625 32 11.3125 32 17C32 22.75 28.9375 28 24 30.875C19 33.75 12.9375 33.75 8 30.875C3 28 0 22.75 0 17ZM18.5 8H19H20.125L19.9375 9.1875L19.125 15H22H23V16V16.5V16.9375L22.6875 17.25L14.1875 25.75L13.875 26H13.5H13H11.8125L12 24.875L12.8125 19H10H9V18V17.5V17.125L9.25 16.8125L17.75 8.3125L18.0625 8H18.5ZM11.875 17H14H15.125L14.9375 18.1875L14.3125 22.8125L20.0625 17H18H16.8125L17 15.875L17.625 11.25L11.875 17Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.recommendations_block_title_icon.hs2 {
    background: url("data:image/svg+xml,%3Csvg width='28' height='32' viewBox='0 0 28 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2V14H13V2H2ZM15 14H26V2H15V14ZM2 16V26H6.5625H7H21H21.375H26V16H2ZM23.375 28L26.6875 31.3125L27.375 32H24.5625L20.5625 28H7.375L3.375 32H0.5625L1.25 31.3125L4.5625 28H2H0V26V2V0H2H26H28V2V26V28H26H23.375ZM7.5 22C6.625 22 6 21.375 6 20.5C6 19.6875 6.625 19 7.5 19C8.3125 19 9 19.6875 9 20.5C9 21.375 8.3125 22 7.5 22ZM22 20.5C22 21.375 21.3125 22 20.5 22C19.625 22 19 21.375 19 20.5C19 19.6875 19.625 19 20.5 19C21.3125 19 22 19.6875 22 20.5Z' fill='%23333333'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.recommendations_block_title_icon.crossRail {
    background: url("data:image/svg+xml,%3Csvg width='36' height='32' viewBox='0 0 36 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.6875 2L26.0625 6H29H30V8H29H26.75L28.8125 14H31.5H32.5V16H31.5H29.5625L31.625 22H34H35V24H34H32.3125L34.375 30H32.25L30.1875 24H5.75L3.6875 30H1.5625L3.625 24H2H1V22H2H4.3125L6.4375 16H4.5H3.5V14H4.5H7.125L9.1875 8H7H6V6H7H9.875L11.25 2H13.375L12 6H23.9375L22.5625 2H24.6875ZM24.625 8H11.3125L9.25 14H26.75L24.625 8ZM27.4375 16H8.5L6.4375 22H29.5L27.4375 16Z' fill='%23333333'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.recommendations_block_title_icon.crossRail2 {
    background: url("data:image/svg+xml,%3Csvg width='44' height='53' viewBox='0 0 44 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.28 33V31.4C31.3067 29.3947 33.0347 27.624 34.464 26.088C35.9147 24.5307 37.0133 23.1227 37.76 21.864C38.5067 20.6053 38.88 19.432 38.88 18.344C38.88 17.1707 38.56 16.2107 37.92 15.464C37.28 14.7173 36.3093 14.344 35.008 14.344C34.1547 14.344 33.3653 14.5787 32.64 15.048C31.9147 15.5173 31.2533 16.104 30.656 16.808L29.184 15.368C30.0373 14.408 30.944 13.64 31.904 13.064C32.8853 12.488 34.0267 12.2 35.328 12.2C36.5867 12.2 37.6747 12.456 38.592 12.968C39.5093 13.4587 40.2133 14.152 40.704 15.048C41.1947 15.944 41.44 16.9893 41.44 18.184C41.44 19.5067 41.0667 20.8187 40.32 22.12C39.5947 23.4213 38.592 24.7867 37.312 26.216C36.032 27.6453 34.56 29.2133 32.896 30.92C33.4507 30.856 34.0267 30.8133 34.624 30.792C35.2213 30.7493 35.7867 30.728 36.32 30.728H42.464V33H29.28Z' fill='black'/%3E%3Cpath d='M24.6875 23L26.0625 27H29H30V29H29H26.75L28.8125 35H31.5H32.5V37H31.5H29.5625L31.625 43H34H35V45H34H32.3125L34.375 51H32.25L30.1875 45H5.75L3.6875 51H1.5625L3.625 45H2H1V43H2H4.3125L6.4375 37H4.5H3.5V35H4.5H7.125L9.1875 29H7H6V27H7H9.875L11.25 23H13.375L12 27H23.9375L22.5625 23H24.6875ZM24.625 29H11.3125L9.25 35H26.75L24.625 29ZM27.4375 37H8.5L6.4375 43H29.5L27.4375 37Z' fill='black'/%3E%3C/svg%3E ") center center no-repeat;
}

.recommendations_block_title_icon.aboveBelowGround {
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2C8.25 2 2 8.3125 2 16V31V32H0V31V16C0 7.1875 7.125 0 16 0C24.8125 0 32 7.1875 32 16V31V32H30V31V16C30 8.3125 23.6875 2 16 2ZM9 10V16H23V10H9ZM9 18V26H12.0625H12.5H19.5H19.875H23V18H9ZM21.875 28L25.1875 31.3125L25.875 32H23.0625L19.0625 28H12.875L8.875 32H6.0625L6.75 31.3125L10.0625 28H9H7V26V10V8H9H23H25V10V26V28H23H21.875ZM11 22.5C11 21.6875 11.625 21 12.5 21C13.3125 21 14 21.6875 14 22.5C14 23.375 13.3125 24 12.5 24C11.625 24 11 23.375 11 22.5ZM19.5 21C20.3125 21 21 21.6875 21 22.5C21 23.375 20.3125 24 19.5 24C18.625 24 18 23.375 18 22.5C18 21.6875 18.625 21 19.5 21Z' fill='%23333333'/%3E%3C/svg%3E ") center center no-repeat;
}

.recommendations_block_title_icon.southamptonLondonPipeline {
    background: url("data:image/svg+xml,%3Csvg width='40' height='32' viewBox='0 0 40 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 3V7H11V3H7ZM5 1H7H11H13V3V7V9H11H10V16H30V9H29H27V7V3V1H29H33H35V3V7V9H33H32V16H39H40V18H39H22V23H23H25V25V29V31H23H19H17V29V25V23H19H20V18H1H0V16H1H8V9H7H5V7V3V1ZM22 25H20H19V29H23V25H22ZM33 3H29V7H33V3Z' fill='black'/%3E%3C/svg%3E ") center center no-repeat;
}

.recommendations_block_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

